* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-items: center;
}
#game {
    height: 200px;
    width: 100vw;
    border: 2px solid;
    position: relative;
}
#ground{
    height: 100px;
    background: green;
}
#character {
    width: 50px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 20px;
    background-image: url("images/1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
@keyframes legs {
    0%{background-image: url("images/1.png");}
    50%{background-image: url("images/2.png");}
}
@keyframes jump {
    0% {
        top: 150px;
    }
    50% {
        top: 70px;
    }
    70% {
        top: 70px;
    }
    100% {
        top: 150px;
    }
}
.block {
    width: 30px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/cactus.png");
    position: absolute;
    bottom: 0;
    left: 100%;
    animation: blockk linear;
}
@keyframes blockk {
    0% {
        left: 110%;
    }
    100% {
        left: -20%;
    }
}
#cloud{
    position: absolute;
    width: 60px;
    height: 50px;
    background-image: url("images/cloud.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: cloud linear forwards;
}
@keyframes cloud {
    0% {right: -30px;}
    100% {right: 110%;}
}
#point__menu{
    display: inline-block;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}